@media (max-width: 767px) {
    .centering {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }
    .head {
        align-items: center;
    }
    .head__top-star1 {
        display: none;
    }
    .head__top-star2 {
        display: none;
    }
    .head__top-star1-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        left: 37px;
        top: 97px;
    }
    .head__top-star2-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        left: 91px;
        top: 64px;
    }
    .head__h {
        width: 262px;
        font-size: 40px;
        text-align: center;
    }
    .head__description {
        width: 296px;
        font-size: 16px;
        text-align: center;
    }
    .head__big-img {
        display: none;
    }
    .head__big-img-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
    }
    .head__button {
        width: 285px;
    }
    .head__bottom-star1 {
        display: none;
    }
    .head__bottom-star2 {
        display: none;
    }
    .head__bottom-star2-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        right: 34px;
        bottom: 28px;
    }
    .head__bottom-star1-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        right: 86px;
        bottom: 74px;
    }

    /*игры*/
    .about-games {
        display: none;
    }
    .games {
        display: flex;
        flex-direction: column;
        background-color: #202027;
        color: white;
        padding-top: 48px;
        padding-bottom: 10px;
        position: relative;
        gap: 24px;
    }
    h2 {
        font-size: 40px;
    }
    .games__game {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .games__img {
        order: -1;
    }
    .games__dsc {
        grid-column: 0;
        max-width: fit-content;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        padding-bottom: 32px;
    }
    .games__dsc h3 {
        font-size: 32px;
        width: 285px;
    }
    .games__dsc p {
        font-size: 16px;
        width: 249px;
    }
    .games__dsc button {
        width: 285px;
    }
    .games__bottom-small-star {
        display: none;
    }
    .games__bottom-mid-star {
        display: none;
    }
}