@media (max-width: 375px) {
    html {
        font-size: 8px;
    }
    .centering {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }
    .head {
        align-items: center;
        width: 100%;
    }
    .head__top-star1 {
        display: none;
    }
    .head__top-star2 {
        display: none;
    }
    .head__top-star1-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        left: 37px;
        top: 97px;
    }
    .head__top-star2-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        left: 91px;
        top: 64px;
    }
    .head__h {
        width: 75%;
        font-size: 4rem;
        text-align: center;
    }
    .head__description {
        width: 75%;
        font-size: 2rem;
        text-align: center;
    }
    .head__big-img {
        display: none;
    }
    .head__big-img-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
    }
    .head__button {
        width: 75%;
        font-size: 3rem;
    }
    .head__bottom-star1 {
        display: none;
    }
    .head__bottom-star2 {
        display: none;
    }
    .head__bottom-star2-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        right: 34px;
        bottom: 28px;
    }
    .head__bottom-star1-mobile {
        display: block;
        position: absolute;
        z-index: 2;
        right: 86px;
        bottom: 74px;
    }

    /*игры*/
    .about-games {
        display: none;
    }
    .games {
        display: flex;
        flex-direction: column;
        background-color: #202027;
        color: white;
        padding-top: 48px;
        padding-bottom: 10px;
        position: relative;
        gap: 24px;
        width: 100%;
    }
    h2 {
        font-size: 5rem;
    }
    .games__game {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .games__img {
        order: -1;
    }
    .games__dsc {
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
        padding-bottom: 27px;
    }
    .games__dsc h3 {
        font-size: 4rem;
        width: 90%;
    }
    .games__dsc p {
        font-size: 2rem;
        width: 90%;
    }
    .games__dsc a {
        width: 90%;
    }
    .games__bottom-small-star {
        display: none;
    }
    .games__bottom-mid-star {
        display: none;
    }
}