/*юникод*/
@charset "UTF-8";

/*обнуление стандартных отступов*/
* {
    margin: 0;
    padding: 0;
}

/*общие стили для страницы*/
body {
    font-family: "Montserrat", sans-serif;
}
.centering {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

/*шапка*/
.head {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 710px;
    background-color: #E1FF8F;
    justify-content: center;
}
.head__h {
    width: 769px;
    font-size: 64px;
    font-weight: 700;
}
.head__description {
    width: 720px;
    font-size: 24px;
}
.head__big-img {
    position: absolute;
    z-index: 1;
    right: 0;
}
.head__top-star1 {
    position: absolute;
    z-index: 2;
    left: 63px;
    top: 94px;
}
.head__top-star2 {
    position: absolute;
    z-index: 2;
    left: 156px;
    top: 69px;
}
.head__button {
    margin-top: 24px;
    width: 247px;
    height: 66px;
    background-color: black;
    border-radius: 60px;
    color: white;
    font-size: 24px;
    &:hover {
        border: 1px solid black;
        background-color: white;
        color: black;
        transition: 0.25s;
    }
}
.head__bottom-star1 {
    position: absolute;
    z-index: 2;
    top: 568px;
    right: 344px;
}
.head__bottom-star2 {
    position: absolute;
    z-index: 2;
    top: 538px;
    right: 455px;
}

/*блок Об играх*/
.about-games {
    background-color: #202027;
    color: white;
    padding-top: 94px;
}
.about-games__h {
    font-size: 64px;
    font-weight: 700;
}
.about-games__description {
    width: 788px;
    font-size: 24px;
}
.about-games__games {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
.about-games__game {
    grid-column: 33%;
    border-radius: 30px;
    background-color: white;
}
.game-1 {
    height: 45%;
}
.game-2 {
    height: 50%;
}
.game-3 {
    height: 45%;
}
.game-4 {
    height: 55%;
}
.game-5 {
    height: 50%;
}
.game-6 {
    height: 55%;
}
.about-games__img {
    border-radius: 30px;
    background-image: url(images/game1.svg);
}

/*подвал*/
footer {
    background-color: #BDED35;
    text-align: center;
    p {
        font-size: 24px;
        font-weight: 600;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
