/*юникод*/
@charset "UTF-8";

/*обнуление стандартных отступов*/
* {
    margin: 0;
    padding: 0;
}

/*общие стили для страницы*/
body {
    font-family: "Montserrat", sans-serif;
}
.centering {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

/*шапка*/
.head {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 710px;
    background-color: #E1FF8F;
    justify-content: center;
}
.head__h {
    width: 769px;
    font-size: 64px;
    font-weight: 700;
}
.head__description {
    width: 720px;
    font-size: 24px;
}
.head__big-img {
    position: absolute;
    z-index: 1;
    right: 0;
}
.head__big-img-mobile {
    display: none;
}
.head__top-star1 {
    position: absolute;
    z-index: 2;
    left: 63px;
    top: 94px;
}
.head__top-star2 {
    position: absolute;
    z-index: 2;
    left: 156px;
    top: 69px;
}
.head__top-star1-mobile {
    display: none;
}
.head__top-star2-mobile {
    display: none;
}
.head__button {
    display: block;
    text-align: center;
    margin-top: 24px;
    width: 247px;
    background-color: black;
    border-radius: 60px;
    color: white;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    &:hover {
        border: 1px solid black;
        background-color: white;
        color: black;
        transition: 0.25s;
    }
}
.head__bottom-star1 {
    position: absolute;
    z-index: 2;
    top: 568px;
    right: 344px;
}
.head__bottom-star2 {
    position: absolute;
    z-index: 2;
    top: 538px;
    right: 455px;
}
.head__bottom-star1-mobile {
    display: none;
}
.head__bottom-star2-mobile {
    display: none;
}

/*блок Об играх*/
.about-games {
    background-color: #202027;
    color: white;
    padding-top: 94px;
    padding-bottom: 96px;
    position: relative;
}
.about-games__big-star {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 0;
}
.about-games__side-small-star {
    position: absolute;
    z-index: 1;
    top: 770px;
    left: 25px;
}
.about-games__side-mid-star {
    position: absolute;
    z-index: 1;
    top: 822px;
    left: 40px;
}
h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;
}
.about-games__description {
    width: 788px;
    font-size: 24px;
}
.about-games__games {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 32px;
    margin-top: 72px;
    height: 1056px;
    .about-games__column {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}
.about-games__game {
    display: block;
    border-radius: 30px;
    background-color: white;
    color: black;
    padding-bottom: 36px;
    text-decoration: none;
    &:hover {
        transform: scale(1.1);
        transition: 0.25s;
    }
}
.about-games__column {
    height: 100%;
}
.about-games__img {
    border-radius: 30px;
    width: 100%;
}
.about-games__game-dsc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    p {
        width: 110px;
        background-color: #F7F7F7;
        border-radius: 50px;
        font-size: 16px;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 10px;
    }
    h3 {
        font-size: 32px;
        font-weight: 700;
    }
}
.games__bottom-small-star {
    position: absolute;
    z-index: 1;
    bottom: 45px;
    right: 150px;
}
.games__bottom-mid-star {
    position: absolute;
    z-index: 1;
    bottom: 65px;
    right: 52px;
}
/*блок Мини-игры*/
.games {
    @extend .about-games;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.games__game {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 50px;
    background-color: white;
}
.games__dsc {
    grid-column: 50%;
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
    color: black;
    h3 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 24px;
        width: 450px;
    }
    p {
        font-size: 24px;
        font-weight: 400;
        width: 457px;
    }
    a {
        @extend .head__button;
    }
}
.games__img {
    @extend .about-games__img;
    grid-column: 50%;
}
.games__game:nth-child(2n+1) .games__img {
    order: -1;
}

/*подвал*/
footer {
    background-color: #BDED35;
    text-align: center;
    p {
        font-size: 24px;
        font-weight: 600;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
/*подключение стилей для мобильной версии*/
@import "mobile";