/*кодировка*/
@charset "UTF-8";

/*обнуление стандартных отступов*/
* {
    margin: 0;
    padding: 0;
}
/*стиль для заголовка в задании 1*/
/*h1 {
    display: block;
}*/
/*стиль для текста в задании 2*/
/*p {
    color: black;
}*/